.inputfields-el {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin: 20px;
}

.item3 {
    grid-column: span 2 / span 2;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.form--input {
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    height: 35px;
    width: 100%;
}